.CLOSED {
	background-color: red;
}
.CLOSED {
	color: white;
	font-size: 50px;
	font-weight: bold;
}

@-webkit-keyframes clignote {
	0%{background-color:#f1c40f ;}
	50%{background-color:green ;}
	100%{background-color:#f1c40f ;}
}
.OPEN {
	height: 800px;
	background-color: green;
	color: white;
	font-size: 50px;
	font-weight: bold;
	-webkit-animation-name: clignote;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count:infinite;

}


ul.left-menu {
	border-left: 5px #2c3e50 solid;
	border-radius: 10px;
	min-height: 500px;
	list-style: none;
}
ul.left-menu li {
	display:block;

}

ul.left-menu a {
	text-decoration: none;
	color:#337ab7;
	display:block;
	padding: 10px 15px;
	font-size: 20px;
}

ul.left-menu a:hover {
	color: #012f83;
}
* {
	font-family: "Ubuntu";
}

.logs-file-form {

	margin: 20px 0 20px 0;
	padding: 10px;
	border-left:4px #2980b9 solid;
	border-bottom: 4px #2980b9 solid;
	border-radius: 0px 0px 0px 5px;


}

label.logs-file-form-label {
	float: left;
	width: 150px;


}
input.logs-file-form-path-input {
	width: 800px	;
}


.status {
	padding: 10px;
	margin: 0 0 0 15px;
	border-left: 2px #2980b9 solid;
	border-bottom: 2px #2980b9 solid;
	
}
.status-name {
	border-bottom: 2px #2980b9 solid;
}
.status-is-in-game {
	border-bottom: 2px #2980b9 solid;
}
.status-hp, .status-exp {
	border-bottom: 2px #2980b9 solid;
}

.status-bad {
	color : #c0392b;
}

.status-cool {
	color: #27ae60;

}